/* ESTILOS GENERALES */
*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body{
  width: 100%;
  background-color: #D4D4D6;
  position: relative;
  padding-bottom: 3em;
  min-height: 100vh;
}

.separador{
  padding: 0;
  margin: 15px 0;  
}

.separador img{
  width: 100%;
  height: 25vh;
}

.nosotros{
  padding: 15px;
}

h3{
  padding: 20px;
  background-color: #08243B;
  color: #D4D4D6;
  margin-bottom: 20px;
  margin-top: 40px;
}

/* CAROUSEL */

/* Estilos del contenedor del carrusel */
.carousel-container-1,
.carousel-container-2,
.carousel-container-3,
.carousel-container {
  position: relative;
  width: 60%; /* Ajusta el ancho deseado */
  margin: 0 auto;
  overflow: hidden;
  
}

/* Estilos del carrusel */
.carousel,
.carousel-1,
.carousel-2,
.carousel-3 {
  display: flex;
  transition: transform 0.5s ease-in-out;
  gap: 16px; /* Separación entre imágenes */
}

.carousel-item,
.carousel-item-1,
.carousel-item-2,
.carousel-item-3 {
  flex: 0 0 calc(100% / 3 - 16px);
  max-width: calc(100% / 3 - 16px);
}

.carousel-item img,
.carousel-item-1 img,
.carousel-item-2 img,
.carousel-item-3 img {
  width: 100%;
  height: auto;
  cursor: pointer;
}

/* Estilos para tabletas (ajustar según sea necesario) */
@media screen and (max-width: 768px) {
  .carousel-item-1,
  .carousel-item-2,
  .carousel-item-3 {
      flex: 0 0 calc(100% / 2 - 16px);
      max-width: calc(100% / 2 - 16px);
  }
}

/* Estilos para dispositivos móviles (ajustar según sea necesario) */
@media screen and (max-width: 480px) {
  .carousel-item-1, 
  .carousel-item-2,
  .carousel-item-3 {
      flex: 0 0 calc(100% - 16px);
      max-width: calc(100% - 16px);
  }
}

/* Estilos de los botones de navegación */
.carousel-nav {
  text-align: center;
  margin-top: 16px;
}

.prev-button-1,
.prev-button-2,
.prev-button-3,
.next-button-1,
.next-button-2,
.next-button-3,
.prev-button,
.next-button {
  position: absolute;
  top: 50%; /* Centra verticalmente */
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.5); /* Fondo con transparencia */
  padding: 10px;
  border: none;
  cursor: pointer;
  z-index: 2; /* Asegura que los botones estén sobre las imágenes */
  
}
.next-button-1,
.next-button-2,
.next-button-3,
.next-button{
  right: 17px;
}

.prev-button-1:hover,
.next-button-1:hover,
.prev-button-2:hover,
.next-button-2:hover,
.prev-button-3:hover,
.next-button-3:hover {
  background-color: #555;
}
/*
.wrapper {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.button-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
  gap: 16px;
}*/

.card {
  flex: 0 0 calc(100% / 3 - 16px);
  max-width: calc(100% / 3 - 16px);
}

.card img{
  width: 100%;
  height: auto;
}

h3{
  margin: 10px;
}
